<table>
    <tr>
        <th>

        </th>
        <th>
            segment
        </th>
        <th colspan="1">
           sub segment
        </th>
        <th>
            consumer 
        </th>
    </tr>
    <tr *ngFor="let data of segment">
        <td><input type="checkbox" ></td>
        <td>{{data.name}}</td>
        <td>
           <ul *ngFor="let f of data.segmentTypeLites">
               <li>{{f.name}}</li>
           </ul>
        </td>
        <td>
            <ul *ngFor="let f of data.consumerCategoryLites">
               <li>
                   {{f.name}}
               </li>
            </ul>
        </td>
    </tr>
</table>
<button >
    add/update
</button>